body{
  background-image: url("https://i.pinimg.com/originals/5b/c7/4c/5bc74c1398f622e80e06cc023dcef977.gif");
  background-size: contain;
}
#calc, td, table {
    border: collapse;
    text-align: center;
    border-radius: 25px;
  }
table {
  background-image: url("https://i.gifer.com/J4o.gif");
}
#title {
    text-align: center;
  }
td {
  width: 150px;
  height: 150px;
}
#screen {
  background-color: black;
  width: 100px;
  height: 135px;
  border: 5px solid azure;
  border-radius: 15px;
  font-size: 50px;
  color: white;
  text-align: right;
}
#display{
  color: white;
  font-size: 40px;
}
button {
  background-image: url("https://i.gifer.com/7TY.gif");
  background-size: contain;
  border: 3px solid rgb(48, 183, 245);
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}


.function-buttons{
  border: 3px solid rgb(250, 173, 6);
}
button:hover {
  background-color: black;
  color: white;
  opacity: 0px;
  transition-duration: 0.15s;
}
button:active {
  background-color: black;
  transform: translateY(4px);
}
p{
  font-size: 50px;
  color: azure;
}
.function-buttons2, #power{
  border: 3px solid rgb(83, 250, 6);
}